<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ViewHelper_Packagist test suite">
	    <directory>./ViewHelper_PackagistTest</directory>
        </testsuite>
    </testsuites>
    <whitelist>
        <directory suffix=".php">../src/</directory>
    </whitelist>
</phpunit>
